<div class="component-header">
  <div class="component-header__navigation">
    <button mat-button class="btn btn-primary" [routerLink]="[0]">
      <mat-icon>playlist_add</mat-icon> Добавить
    </button>
  </div>
</div>
<div class="row">
  <div class="column column-3">
    <mat-form-field class="input-group-m" appearance="fill">
      <mat-label>С</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="datefrom" (dateChange)="initDS()" />
      <mat-hint>DD.MM.YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="input-group-m" appearance="fill">
      <mat-label>По</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="dateto" (dateChange)="initDS()" />
      <mat-hint>DD-MM-YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Номер</mat-label>
      <mat-select [(ngModel)]="selectednumbers" multiple (selectionChange)="filterItems()">
        <mat-option *ngFor="let n of numbers" [value]="n">{{n}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Наименование</mat-label>
      <mat-select [(ngModel)]="selectednames" multiple (selectionChange)="filterItems()">
        <mat-option *ngFor="let n of names" [value]="n">{{n}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Единицы измерения</mat-label>
      <mat-select [(ngModel)]="selectedunitnames" multiple (selectionChange)="filterItems()">
        <mat-option *ngFor="let n of unitnames" [value]="n">{{n}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div>
  <div class="table-section">
    <table mat-table matSort [dataSource]="ds" class="table__wrap">
      <ng-container matColumnDef="action" sticky>
        <th mat-header-cell *matHeaderCellDef class="table__header-column">
        </th>
        <td mat-cell *matCellDef="let element" class="table__column">
          <a mat-menu-item [routerLink]="[element.id]">
            <mat-icon>edit</mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container *ngFor="let column of scolumns; index as i" matColumnDef="{{ column }}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__header-column" style="padding-left: 10px;">
          {{ column | titleCaseExtended }}
        </th>
        <ng-container *ngIf="column === 'number'">
          <td mat-cell *matCellDef="let element" class="table__column">
            {{ element[column] }}
          </td>
        </ng-container>
        <ng-container *ngIf="column === 'createdate'">
          <td mat-cell *matCellDef="let element" class="table__column">
            {{ element[column] | date: 'dd-MM-yyyy' }}
          </td>
        </ng-container>
        <ng-container *ngIf="column === 'items'">
          <td mat-cell *matCellDef="let element" class="table__column">
            <table mat-table [dataSource]="element.items">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Наименование</th>
                <td mat-cell *matCellDef="let subElement">{{subElement.name}}</td>
              </ng-container>
              <ng-container matColumnDef="uofm">
                <th mat-header-cell *matHeaderCellDef>Единицы измерения</th>
                <td mat-cell *matCellDef="let subElement">{{subElement.uofm}}</td>
              </ng-container>
              <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef>Колличество</th>
                <td mat-cell *matCellDef="let subElement">{{subElement.count}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="['name', 'uofm' ,'count']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['name', 'uofm' ,'count']"></tr>
            </table>
          </td>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table__row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="table__row"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[12, 25, 50, 100]"
    [ngStyle]="{ display: (ds.data.length > 0 &&  ds.filteredData.length > 0 ) ? 'block' : 'none' }"
    aria-label="Select page of users"></mat-paginator>
</div>
