<div class="component-header">
  <div class="component-header__title">
    {{ title }}
  </div>
  <div class="component-header__navigation">
    <button mat-button class="btn btn-primary" [routerLink]="['new', mtype]">
      <mat-icon>playlist_add</mat-icon> Добавить
    </button>
  </div>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<mat-form-field class="input-group" appearance="fill">
  <mat-label>Фильтр</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Enter data..."
    #input
  />
</mat-form-field>
<table *ngIf="!loading" mat-table [dataSource]="dataSource" fixedLayout="true" class="table__wrap">
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef class="table__header-column" style="width: 100px">
      Действие
    </th>
    <td mat-cell *matCellDef="let element" class="table__column"  style="width: 100px">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div>
          <a mat-button [routerLink]="[element[entryIDname], mtype]">
            <mat-icon>edit</mat-icon>
            Редактировать
          </a>
        </div>
      </mat-menu>
    </td>
  </ng-container>

  <ng-container
    *ngFor="let column of dcolumns; index as i"
    matColumnDef="{{ column }}"
  >
    <th mat-header-cell *matHeaderCellDef class="table__header-column">
      {{ column | titleCaseExtended }}
    </th>
    <td mat-cell *matCellDef="let element" class="table__column">
      <div *ngIf="(gettype(element[column]) == 'boolean'); then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <mat-checkbox
        class="violation__checkbox"
        [checked]="element[column]"
        disabled="true"
      ></mat-checkbox>
      </ng-template>
      <ng-template #elseBlock>
        {{
          column === "hearingDate"
            ? (element[column] | date: "MM/dd/yyyy")
            : element[column]
        }}
      </ng-template>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
    class="table__row"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="table__row"
  ></tr>
</table>
<mat-paginator [pageSizeOptions]="[12, 25, 50, 100]" (page)="scrollPageToTop($event)"></mat-paginator>
